# Insert your Supabase Project URL and Public Anon Key below
VITE_SUPABASE_URL=https://elxcgadrbkwxznxuhuhg.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVseGNnYWRyYmt3eHpueHVodWhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwMTc5NjQsImV4cCI6MjEwMDU5Mzk2NH0.vLzX0djFYlZFOfkakgvEK3U7kgCm0DFmNjZwBLdIPF8
